.home {

        height: 100vh;
        background-image: url(images/home2.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        background-color: black;
        font-family: "Playwrite AU VIC", cursive;

    
}
.home-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width:65%;
}
.home-content .title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-transform: uppercase;
}
.paragraph{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    letter-spacing: 1.5px;
    line-height: 1.6px;
}
.home-content .btn {
    min-width: 150px;
    padding: 15px 0;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    font-family: "Playwrite AU VIC", cursive;

}
.btn-start {
    margin-right: 10px;
    font-family: "Playwrite AU VIC", cursive;

}
.btn-learn{
   background-color: palevioletred;
   color: cornsilk;
}